<div class="row mx-auto">
    <div class="col-12 w-100 mx-auto">
        <div class="card mx-auto shadow p-3 mb-4 bg-body rounded w-auto table-responsive">
            <table class="table table-hover align-middle">
                <caption id="capProdList"></caption>
                <thead>
                    <tr>
                        <th scope="col" class="text-center"> Id </th>
                        <th scope="col" class="text-center"> Title </th>
                        <th scope="col" class="text-center"> Description </th>
                        <th scope="col" class="text-center"> Price ($) </th>
                        <th scope="col" class="text-center"> Image </th>
                        <th scope="col" class="text-center"> url </th>
                        <th scope="col" class="text-center"> Code </th>
                        <th scope="col" class="text-center"> Stock </th>
                    </tr>
                </thead>
                        <tbody id="mostrarProductos">
                        </tbody>
            </table>
        </div>
    </div>
</div>