<footer>
    <div class="d-block fixed-bottom p-1 my-3 bg-primary overflow-hidden">
        <span class="d-block fixed-bottom p-3 bg-primary text-white text-center">Copyright (c) 2022 - Germán C.
            Montalbetti</span>
    </div>
</footer>