<div class="form-group col-4 mx-auto my-2 w-25 border p-3 bg-dark bg-gradient text-white bg-opacity-75">
    <form onsubmit="return addProduct(this)">
        <fieldset>
            <h4 class="d-block mx-auto my-2 text-center">New Product</h4>
            <label for="name">Title</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="Title Product" required>
            <br>
            <label for="description">Description</label>
            <input type="text" name="description" id="description" class="form-control" placeholder="Description Product">
            <br>
            <label for="price">Price ($)</label>
            <input type="text" name="price" id="price" class="form-control" placeholder="Ex. 150" required>
            <br>
            <label for="picture">Picture URL</label>
            <input type="text" name="picture" id="picture" class="form-control" placeholder="Picture url" required>
            <br>
            <label for="code">Code</label>
            <input type="text" name="code" id="code" class="form-control" placeholder="Code" required>
            <br>
            <label for="stock">Stock</label>
            <input type="number" name="stock" id="stock" class="form-control" placeholder="Stock">
            <br>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mx-auto">Save Product <i class="fa fa-save"></i></button>
                <button type="reset" class="btn btn-danger mx-auto">Reset</button>
            </div>
        </fieldset>
    </form>
</div>