<header>
  <nav class="navbar sticky-top navbar-dark bg-dark text-white">
    <div class="container-fluid px-2 my-2">
      ACME Inc. <img src='http://localhost:4000/LogoACME.jpg' width="50" height="30" class="d-inline-block align-text-top ms-3">
      <div class="me-auto d-block" id="navbarTogglerDemo02">
      </div>
      <div class="d-flex">
        <button class="btn btn-light me-4" type="submit" disabled="disabled"><i class="fa fa-sign-out"></i> LogOut</button>
      </div>
    </div>
  </nav>
</header>